* {
    margin: auto;
    padding: 15px;
    font-family: "Harlow";
}

@media screen {
    /*Resolución adaptativa para que funcione en diversos dispositivos*/
}

.header {
    background-image: url(Pictures/tattoo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 97vh;
}
                                /*Navigation bar */
.logo_webpage {
    margin-top: 0vh;
}

#navbar {
    list-style: none;
    display: flex;
    color: white;
    margin-top: -18vh;
    font-size: 80%;
    padding-left: 125vh;
}

.nav_link, .button1 { 
    color:grey;
    text-decoration: none;
    font-family: "Harlow";
}

.nav_link:hover {
    color: red;
}


    .main_title {
        color: white;
        display: relative;
        justify-content: left;
        margin-top: 19.5vh;
        font-size: 580%;
        font-family: "Harlow";
        
    }

    .sub_title {
        color: gray;
        font-size: 90%;
        margin-bottom: 10.64vh;
        font-family: "Harlow";
    }

    .button1 {
        font-size: 85%;
        position: absolute;
    }

    .button1:hover {
        -webkit-transform: translateY(1.5px);
        transform: translateY(1.5px);
    }

    .side_text {
        position: relative;
        right: 1vh;
    }

                            /*Learn More About Us*/


.page2 {
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 115vh;
}
    .text_page2 {
        position: relative;
        text-align: center;
        font-family: "Harlow";
        font-size: 5vh;
        font-weight: bold;
    }

    .button2 {
        font-family: "Harlow";
        text-align: center;
        margin-top: 1vh;
        border-color: black;
        background-color: white;
    }

    .button2:hover {
        color: red;
    }

                            /*Services*/

.services {
    display: flex;
    gap: 20vh;
    margin-top: 163vh;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

    .block1 {
    }
        .man {
            width: 89.80191693290735vh;
            height: 105.35037273695421vh;
        }

    .block2 {
        color: white;  
    }
        .servicetitle {
            font-size: 8vh;
        }

        .servicetitle2 {
            font-size: 4vh;
        }

        .servicetext {
            font-family: "Harlowlight";
            line-height: 2vh;
            color: rgb(212, 201, 201);
        }

        .button3 {
            position: absolute;
            text-decoration: none;
            font-size: 85%;
            color: white;
        }

        .button3:hover{
            -webkit-transform: translateY(1.5px);
            transform: translateY(1.5px);
        }