* {
    margin: auto;
    padding: 15px;
    font-family: "Harlow";
}

@media screen {
    /*Resolución adaptativa para que funcione en diversos dispositivos*/
}

.header {
    background-image: url(Pictures/tattoo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 97vh;
}
                                /*Navigation bar */


.navbarblock {
    display: flex;
}
    .logo_webpage {
        margin-right: 100vh;
    }

.navbar {
    list-style: none;
    display: flex;
    color: white;
    font-size: 80%;
    margin-top: -5vh;
    margin-right: 5.7vh;
}

    .navbaritems, .button1 { 
        color:grey;
        text-decoration: none;
    }

    .navbaritems:hover {
        color: red;
    }


    .main_title {
        color: white;
        display: relative;
        justify-content: left;
        margin-top: 19.5vh;
        font-size: 580%;
        font-family: "Harlow";
        
    }

    .sub_title {
        color: gray;
        font-size: 90%;
        margin-bottom: 10.64vh;
        font-family: "Harlow";
    }

    .button1 {
        font-size: 85%;
        position: absolute;
    }

    .button1:hover {
        -webkit-transform: translateY(1.5px);
        transform: translateY(1.5px);
    }

    .side_text {
        position: relative;
        right: 1vh;
    }

                            /*Learn More About Us*/


.page2 {
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 115vh;
}
    .text_page2 {
        position: relative;
        text-align: center;
        font-family: "Harlow";
        font-size: 5vh;
        font-weight: bold;
    }

    .button2, .button4, .button5 {
        font-family: "Harlow";
        text-align: center;
        margin-top: 1vh;
        border-color: black;
        background-color: white;
    }

    .button2:hover {
        color: red;
    }
    

                                /*Services*/

.services {
    display: flex;
    gap: 20vh;
    margin-top: 163vh;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

    .block1 {
        display: flex;
        position: relative;
        margin-left: 0;
    }
        .man {
            width: 94.80191693290735vh;
            height: 105.35037273695421vh;
            
        }

    .block2 {
        display: block;
        text-align: left;
        color: white;  
        margin-right: 36vh;
    }
        .servicetitle {
            font-size: 8vh;
        }

        .servicetitle2 {
            font-size: 4vh;
        }

        .servicetext {
            font-family: "Harlowlight";
            line-height: 2.5vh;
            color: rgb(212, 201, 201);
        }

        .button3 {
            position: absolute;
            text-decoration: none;
            font-size: 80%;
            color: white
        }

        .button3:hover{
            -webkit-transform: translateY(1.5px);
            transform: translateY(1.5px);
        }
                                /*Tenebris Artists*/

.Tenebris-Artists {
    margin-top: 300vh;
}       

    .maintitleartists {
        text-align: center;
        font-size: 6vh;
        margin-top: -7vh;
        margin-bottom: 2vh;
    }
    .artists {
        display: flex;
        margin-left: 10vh;
        margin-right: 10vh;
    }

        .socials {
        margin-left: -1vh;
        margin-top: -2vh;
        }

        .artistname {
            font-size: 1.87vh;
        }

        .artistname:hover {
            color: red;
        }
        
        .artisttext {
            font-family: "Harlowlight";
            font-size: 1.8vh;
            line-height: 2.7vh;
            color: rgb(70, 68, 68);
            margin-top: -1vh;
        }

        .artistpicture:hover {
            transform: scale(0.95);
        }

        .artistpicture { 
            transition: all .2s ease-in-out; 
            margin-left: -1.5vh;
        }

        .button4 {
            display: flex;
        }

        .button4:hover {
            color: red;
        }

                                        /*Ready to get inked*/

        
.container {
    display: flex;
}

    .titleinked {
        font-size: 6.7vh;
    }

    .button5 {
        display: flex;
        margin-top: 7vh;
    }

    .button5:hover {
        color: red;
    }

    .getinked {
        margin-right: -16.3vh;
    }

                                    /*Example of Tattoos*/
    

.examplecontainer {
    margin-top: 6vh;
}

    .examplepictures1, .examplepictures2 {
        display: flex;
        justify-content: center;
    }

        .pictureblock {
            width: 24vh;
            height: 25vh;
            margin: -1.6vh;
            margin-top: -4.85vh;
            transition: all .2s ease-in-out; 
        }

        .pictureblock:hover {
            transform: scale(0.95);
        }
                                     /*Footer*/

.footerbackground {
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 13vh;
}

    .footersocials {
        text-align: center;
        margin-top: 10vh;
    }

    .navbarcontainer {
        display: flex;
    }

        .footernavbar {
            display: flex;
            list-style: none;
            color: white;
            margin-bottom: 13vh;
        }

        .forhover {
            font-size: 1.4vh;
        }
        .forhover:hover {
            color: red;
        }
