* {
    margin: auto;
    padding: 15px;
}

@media screen {
    /*Resolución adaptativa para que funcione en diversos dispositivos*/
}

body {
    background-image: url(Pictures/tattoo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_webpage {
    margin-top: -20px;
}

#navbar {
    list-style: none;
    display: flex;
    color: white;
    margin-top: -130px;
    font-size: 90%;
    padding-left: 1230px;
}

.nav_link, .button { 
    color:grey;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav_link:hover {
    color: red;
}

.main_title {
    color: white;
    display: flex;
    justify-content: left;
    margin-top: 180px;
    font-size: 580%;
}

.sub_title {
    color: gray;
    font-size: 90%;
    margin-bottom: 100px;
}

.button {
    font-size: 85%;
    
}

.button:hover {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
